{% extends 'base.html' %}
{% block title %}Signup{% endblock %}
{% block content %}
<h1 align="center" class="m-5">Signup</h1>
<form class="mt-5 m-3" method="post">
    <div class="mb-3 ">
        <label for="email" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email Address">
      </div>
    <div class="mb-3 ">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input type="password" name="password1" class="form-control" id="password1" placeholder="Enter Password">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Re-Enter Password</label>
        <input type="password" name="password2" class="form-control" id="password2" placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}